# Secrets
.env
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Django
staticfiles/
mediafiles/
*.sqlite3

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
